.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    width: 80%;
    background-color: #171820;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    border: 4px solid #bcb6ae;
}

h1 {
    text-align: center;
    color: #df861d;
    font-size: 50px;
}

p {
    text-align: center;
    color: #df861d;
    font-size: 20px;
}


.footer {
    width: 80%;
    margin: 40px auto 0;
    text-align: center;
    border-top: 2px solid #df861d;
    padding: 20px 0;
    color: #df861d;
    font-size: 1.2rem;
}

.btn {
    background-color: #df861d;
    color: #171820;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #fdc029;
}

body {
    background-color: #171820;
    font-family: sans-serif;
    margin: 0;
}